*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }  

 .table{
  font-family: Mukta, sans-serif;
 	/*height: 100vh;*/
   margin-top: 5%;
 	display: grid;
 	justify-content: center;
 	align-items: center;
 	color: #4f546c;
 	font-size: .9rem;
 	/*background-color: #f9fbff;*/
 }

 table{
 	border-collapse: collapse; /*remove space between colums*/
 	box-shadow: 0 5px 10px #e1e5ee;
 	background-color: rgba(255, 255, 255, 1);
 	text-align: left;
 	overflow: hidden;
   border-radius: 10px;
            /*background: linear-gradient(to right bottom,rgba(0,255,255,.05),rgba(255,0,255,.01));*/

 }

 table thead{
 	 box-shadow: 0 0 10px rgba(0, 183, 150, .3);
    background-color: rgba(0,255,255,.03);

 }
 
 table th{
 	padding: 1rem 2rem;
 	text-transform: uppercase;
 	letter-spacing: .1rem;
 	font-size: .7rem;
 	font-weight: 900;
  }
 table td{
   padding: 1rem 2rem;
 }
 table tr:hover{
   transform: scale(1.005);
   background-color: #c8e6c9;
   box-shadow: 0 5px 10px rgba(244, 67, 139, .3);
 }
 table, th, td {
        /*border: 1px solid rgba(107, 135, 144, .1);;*/
        /*text-align: center;*/
        z-index: 3;
        /*backdrop-filter: blur(2rem);*/
         
    }

 .status-no{
    border-radius: .4rem;
    padding: .2rem 1rem;
    text-align: center;
    background-color: #fff0c2;
    color: #a68b00;
 } 
 .status-yes{
    border-radius: .4rem;
    padding: .2rem 1rem;
    text-align: center;

    background-color: #c8e6c9;
    color: #388e3c;
 }

tr:nth-child(even){
	background-color: rgba(244, 246, 251, 1);
 }
 