

<ul>

	<li> <a id="active" href="../Controller/welcome.php"> Home     </a></li>
	<li> <a href="addBook.html">            Add new books    </a></li>
	<li> <a href="updateBook.html">  		Update book info   </a></li>

	<li> <a href="searchBook.php"> View and search book      </a></li>
	<li> <a href="borrowBook.php"> Borrow book      </a></li>
	<li> <a href="returnBook">     Return book   </a></li>
	<li> <a href="borrowHistory">     Borrows history   </a></li>	

</ul>


<ul>

	<li> <a href="under-development.html"> Settings  </a>
		<ul>
			<li><a href="../Controller/logout.php">Logout      </a></li>
			<li><a href="../Controller/changePassword.php">Change password     </a></li>
			
		</ul>
	</li>

</ul>


<hr>