*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	

}
body{
	background-color:  #AECACE;
}
a, li, button{
	text-decoration: none;
	color: white;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: gray;
}

.logo{
	display: flex;
	padding: 10px 20px;
	cursor: pointer;
	flex-direction: row;
	align-items: center;
	width: 40px;
	height: 40px;
}
.title{
	font-weight: 600;
	font-size: 20px;
	padding: 0 20px;
	letter-spacing: .2rem;
}

.title::first-letter { /*Psudo-element*/
			color: red;
			font-weight: bolder;
			font-size: 1.2em;
}

.nav-link li{
	list-style: none;
	display: inline-block;
}

.nav-link li a{
	margin: 0 15px;
	transition: all .3s ease 0s;
}
.nav-link li a:hover{
	color: #ff5733;
}
.setting img{
	width: 40px;
	height:40px;
	margin-right: 20px;
	padding: 15px;
 	transition: .4s;
 	cursor: pointer;
 	background-color: green;
 	border-radius: 50%;

   }
.setting img:hover{
	transform: rotate(45deg);
	/*filter: brightness(1) invert(50);*/

  }
 .setting:hover .dropdown-content{
 		display: block;
  }
 .dropdown-content{
 	position: absolute;
  	right: 0px;
 	text-align: left;
 	min-width: 150px;
 	display: none;
  }
  .dropdown-content a{
 	display: block;
 	font-size: 20px;
	padding: 10px;
	margin-top: 5px;
	background-color: #40868b;
 	border-radius: 5px;


  } 
  .dropdown-content a:hover{
 	background-color: gray;
  }